<% if picture.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(picture.errors.count, "個のエラーがあるため、保存できません。") %></h2>
    <ul>
      <% picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: picture, local: true, url: choice_root) do |form| %>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_field :content, class: "form-control", placeholder: "画像と一緒にその時の気持ちも投稿しよう！" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <br>
    <%= image_tag(asset_path(picture.image), width: "200", height: "200") if @picture.image && @picture.image.url %>
    <br>
    <%= form.file_field :image %>
    <br>
    <%= form.hidden_field :image_cache %>
  </div>

  <% case action_name %>
  <% when "new","create","confirm" %>
    <%= form.submit "新規登録する", class: "btn btn-info" %>
  <% when "edit","update" %>
    <%= form.submit "編集する", class: "btn btn-info" %>
  <% end %>

  <%= link_to "画像の一覧表示に戻る", pictures_path, class: "btn btn-primary" %>
<% end %>