<div class="sign_up-login-form card m-4 p-4">
  <h1 class="card-title">コメント/画像の投稿内容をチェック</h1>

  <%= form_with(model: @picture, local: true, url: pictures_path) do |form| %>
    <div class="form-group">
      <%= form.hidden_field :content, class: "form-control", value: @picture.content %>
      <%= "コメント：#{@picture.content}" %>
    </div>
  
    <div class="form-group">
      <%= image_tag(asset_path(@picture.image), width: "200",height: "200") if @picture.image && @picture.image.url %>
      <%= form.hidden_field :image_cache %>
    </div>

    <%= form.submit "この内容で投稿を確定する", class: "btn btn-primary" %>
    <%= form.submit "一つ前のページに戻る", name: "back", class: "btn btn-info" %>
  <% end %>
</div>